
/* Your CSS Code here. */
div{
  color: white;
/* 	width:200px; */
  background-color: purple;
	font-size:20px;
 padding:10px;
/* 	display: inline-block; */
	border-left: 5px solid green;
  
 
  
  /* padding: 10px; 10px;10px;10px; */

   
}
h1{
width:200px;
	font-size:20px;
	color:white;
}
}